.searchBarContainer{
    width: 523px;
}
.logoContainer--images-secure{
    padding: 0px;
}
.logoLink--images-secure{
    margin: 20px 15px 0px 0px;
    padding-right: 10px;
}
.container{
    display: flex;
    justify-content: center;
}