.container--deals{
    color: #000000;
    text-align: start;
    justify-content: start;
}
.paragraph--text-free_shipping{
    color: #00a650;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin: 2px 0 0;
}
.container--footer-copy{
   
    font-size: 12px;
    margin-top: 2px;
color: #999;
}
.paragraph--footer-copy{
     margin: 0px;
}