.container{
    width: 100%;
    background-color: #fff159;
    font-size: 14px;
    height: 50px;
}
.section--category{
    background-color: #ebebeb;
}
/* .itemContainer--department{
    background-color: #fff159;
} */
/* .departmentList{
    background-color: #fff159;
} */