.footerLayout{
  padding: 0px 20px 10px 20px;
  margin-top: 30px;
  background-color: white;
}
.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}
.paymentMethodIconImage--css-payments{
  width: auto;
}
.socialNetworksContainer{
  width: auto;
}
.acceptPaymentMethodContainer--css-payments{
  width: auto;
}
.row--secure-site{
  width: auto;
}
.images-secure{
  margin-right: 10px;
  width: auto;
}