.arrow--style-breadcrumb {
  color: #3483fa;
  cursor: pointer;
  text-decoration: none;
}
.link--style-breadcrumb {
    font-size: 14px;
  color: #3483fa;
  cursor: pointer;
  text-decoration: none;
}
.term--style-breadcrumb {
    font-size: 14px;
    color: #3483fa;
    cursor: pointer;
    text-decoration: none;
  }