
.flexRow--deals {
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 1px 1px 0rgba (0, 0, 0, 0.1);
  height: 90px;
  margin: 0 auto;
  max-width: 1184px;
  overflow: hidden;
  text-align: left;
  padding: 20px 0px 20px 0px;
  font-size: 18px;
}
.flexRow--content-deals {
  padding: 10px;
}
.flexRow--image-deal {
  width: 20%;
}
.flexRow--stretchChildrenWidth {
  width: 30%;
}
.flexRowContent{
  display: flex;
  justify-content: space-around;
}
.flexRow--promotions-section{
  padding-top: 20px;
}
.flexRowContent--payment-methods{
  padding-top: 5px;
  display: flex;
  width: 100%;
  justify-content: end;
}
.flexRowContent--menu-row{
  display: flex;
  justify-content: start;
}
.flexRowContent--secure-site .stretchChildrenWidth{
  width: auto;
}

.flexRowContent--custom-produto-section{
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: white;
}
.flexRowContent--custom-button-add-tocart .vtex-flex-layout-0-x-stretchChildrenWidth .vtex-button{
  background-color: black;
}
.flexRow--log-section-mobile{
  display: flex;
  justify-content: center;
  align-items: center;
}