.slide {
    margin: 0px 8px 0px 16px;
    background-color: white;
    padding: 20px 16px 20px 16px;
    border-radius: 4px;
  }
  .slide--carousel{
    margin: 0;
    padding: 0;
  }
  .sliderLayoutContainer--shelf{
   margin: 0 70px 0 70px;
   padding: 40px 40px;
  }
  